h1 {
  text-align: center;
}
.fala {
  height: 400px;
  width: 50%;
  margin: 0 auto;
  border: 1px solid black;
  overflow-y: scroll;
}
.fala span {
  font-size: 22px;
}

button {
  display: block;
  margin: 0 auto;
}

.button_speech {
  font-size: 22px;
}